body{
    margin: 0;
    padding: 0;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
html{
    scroll-behavior: smooth;
}


.progress-bar {
    width: 800px;
    height: 15px;
    background-color: #ddd;
    border-radius: 10px;
    overflow: hidden;
    display: inline-block;
    position: relative;
}
.progress-bar div {
    height: 100%;
    background-color: #89b1dd; 
    width: 50%; 
}
label {
    margin-right: 10px;
    font-weight: bold;
}

.base-input{
    width: 500px;
    height: 40px;
    border-radius: 20px;
    margin-bottom: 10px;
    border: 2px solid $color;
    margin-right: 50px;
}
.base-textarea{
    width: 500px;
    height: 200px;
    border-radius: 20px;
    margin-bottom: 10px;
    border: 2px solid $color;
    margin-right: 50px;
}

.contact1{
    display: inline-block;

}
.contact2{
    display: inline-block;

}

.developer{
    display: inline-block;
    border: 1px solid grey;
}
.design{
    display: inline-block;
    border: 1px solid grey;
}

footer p{
    height: 10px;
    text-align: center;
    margin-left: 350px;
}
