.typography-section{
    font-size: 32px;
    color: $color-thirdly;
    &:hover{
        cursor: pointer;
        color: $border-box-color;
    }
}
.typography-name{
    font-size: 16px;
    color: $color-secondary;
    margin-right: 45px;
    text-align: center;
    margin-bottom: 50px;
}